<link rel="stylesheet" href="./css/login.css">
<div class="loginReg-wrapper" id="login">
    <div class="logo"></div>
    <form ng-submit="login(user)">
        <div class="name-wrapper inp">
            <label for="userName">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" id="userName" ng-model="user.userName" name="userName" placeholder="请输入用户名">
        </div>
        <div class="pwd-wrapper inp">
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <input type="password" id="password" ng-model="user.password" name="password" placeholder="请输入密码">
        </div>
        <div class="errorMsg">
            <span ng-bind="errorMsg" ng-show="errorMsg"></span>
            <i ng-click="closeMsg()" ng-show="errorMsg" class="fa fa-times" aria-hidden="true"></i>
        </div>
        <button type="submit" class="login log_reg">登录</button>
        <div class="bottom">
            <a href="javascript:;" class="forget">忘记密码</a>
            <a href="./main.html#/register" class="reg">注册</a>
        </div>
    </form>
</div>