<link rel="stylesheet" href="./css/login.css">
    <!--注册页面-->
    <div class="loginReg-wrapper" id="register">
        <div class="logo"></div>
        <form>
            <div class="name-wrapper inp">
                <input type="text" id="regUserName" name="userName">
            </div>

            <div class="pwd-wrapper inp">
                <input type="password" id="recheck" name="password">
            </div>
            <div class="pwd-wrapper inp">
                <input type="password" id="password" name="password">
            </div>
            <div class="errorMsg">
                <span>手机号不正确！</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <button type="button" class="login log_reg">注册</button>
            <div class="bottom">
                <a href="./main.html#/login" class="login">已有账户？登录</a>
            </div>
        </form>
    </div>