
    <div id="combine-container">
        <div class="sticky-wrapper">
            <ul class="first-wrapper">
                <li ng-repeat="i in items">
                    <a href="javascript:;">{{i.typeName}}</a><i></i>
                    <ul class="little-wrapper">
                        <li ng-repeat="item in i.typeItems"><a href="javascript:;">{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide first"></div>
                    <div class="swiper-slide second"></div>
                    <div class="swiper-slide third"></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="{{$index % 2 ==0 ? 'odd': 'even'}} common" ng-repeat="provider in contents | orderBy:'typeCode'">
            <div class="container">
                <h2>{{provider.typeName}}</h2>
                <p>{{provider.typeDesc}}</p>
                <div class="moreInfo">
                    <a href="javscript:;">更多服务&gt;</a>
                </div>
                <div class="box-wrapper">
                    <a ng-repeat="service in provider.serviceItems" href="./main.html/#proDetail/{{provider.provId}}/{{service.serviceId}}">
                        <div class="box">
                            <div class="img-wrapper">
                                <img ng-src="{{service.img}}">
                            </div>
                            <div class="text-wrapper">
                                <h3>{{service.serviceName}}</h3>
                                <p class="description">
                                    {{service.desc}}
                                </p>
                            </div>
                            <div class="litter-bar">
                                <div class="txt">
                                    <font>{{service.nowPrice}}</font><span>元/小时</span>
                                </div>
                                <button>查看详情</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    direction: 'horizontal',
    effect: 'fade',
    fade: {
      crossFade: false,
    },
    autoplay: 3000,
    autoplayDisableOnInteraction: false,
    loop: true,
    paginationClickable: true,
    // 如果需要分页器
    pagination: '.swiper-pagination',
  })

</script>