<link rel="stylesheet" href="./css/service-list.css">
<div id="list-wrapper">
    <header>
        <ul class="info">
            <li class="left">
                <span class="name">
                    e修鸽
                </span>
                <span class="dark">营业时间：</span>
                <span class="timeInfo">08:30-20:00</span>
                <span class="dark">最近可预约时间：</span>
                <span class="freeTimeInfo">07月11日 15:00</span>

            </li>
            <li class="right">
                <div class="small-wrapper">
                    <div class="same">
                        <div class="hit">1545</div>
                        <div class="desc">成功接单</div>
                    </div>
                    <div class="same">
                        <div class="hit">89%</div>
                        <div class="desc">接单率</div>
                    </div>
                    <div class="others">
                        <div class="hit">95%</div>
                        <div class="desc">好评率</div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
    <nav>
        <ul class="menu">
            <li class="active"><a href="#serviceName">服务项目</a></li>
            <li><a href="#desc">商家简介</a></li>
            <li><a href="#userComment">用户评论</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="tab-wrapper">
            <div id="serviceName" class="tab-title">
                服务项目
            </div>
            <div class="tab">
                <div class="img-wrapper">
                    <img src="./img/list/service-list_01.jpg">
                </div>
                <div class="desc-wrapper">
                    <div class="t1">挂壁式空调清洗</div>
                    <p class="p1">我们是TCL集团旗下家电服务品牌 服务流程： 1.验机 2....</p>
                    <p class="p2">
                        <span class="s1 sp">60</span>
                        <span class="s2 sp">元/台</span>
                        <span class="s3">原价</span>
                        <span class="s4">68</span>
                        <span class="last">已售1862</span>
                    </p>
                </div>
            </div>
            <div class="tab">
                <div class="img-wrapper">
                    <img src="./img/list/service-list_01.jpg">
                </div>
                <div class="desc-wrapper">
                    <div class="t1">挂壁式空调清洗</div>
                    <p class="p1">我们是TCL集团旗下家电服务品牌 服务流程： 1.验机 2....</p>
                    <p class="p2">
                        <span class="s1 sp">60</span>
                        <span class="s2 sp">元/台</span>
                        <span class="s3">原价</span>
                        <span class="s4">68</span>
                        <span class="last">已售1862</span>
                    </p>
                </div>
            </div>
            <div class="tab">
                <div class="img-wrapper">
                    <img src="./img/list/service-list_01.jpg">
                </div>
                <div class="desc-wrapper">
                    <div class="t1">挂壁式空调清洗</div>
                    <p class="p1">我们是TCL集团旗下家电服务品牌 服务流程： 1.验机 2....</p>
                    <p class="p2">
                        <span class="s1 sp">60</span>
                        <span class="s2 sp">元/台</span>
                        <span class="s3">原价</span>
                        <span class="s4">68</span>
                        <span class="last">已售1862</span>
                    </p>
                </div>
            </div>
            <div class="loadMore">
                <span>点击查看更多商家<i></i></span>
            </div>
        </div>
        <div class="box-rt">
            <div class="seller-in"></div>
            <div class="qrcode">
                <img src="./img/sellerIn/qr-code.png">
            </div>
        </div>
    </div>
    <!--商家简介-->
    <div id="other-part">
        <div class="sellerInfo-wrapper common">
            <p id="desc">
                商家简介
            </p>
            <div class="company">
                杭州一修鸽科技有限公司
                <img src="./img/list/renzheng.jpg" alt="">
            </div>
            <div class="text">
                <p>一修鸽（杭州）科技有限公司是全国互联网O2O家庭上门安装维修服务的开创者。公司专注于建材家居安装、维修、维护以及一切围绕着家的延伸服务。用互联网方式改变传统家庭维修中介、游击队模式。让业主得到最优质的服务。
                    e修鸽为业主和优质合作商提供最专业的灯具、卫浴、五金、壁纸、地板、家具产品的安装、维修、维护、清洗、保养等家居最后一公里售后服务。</p>

                <p>一修鸽（杭州）科技有限公司是全国互联网O2O家庭上门安装维修服务的开创者。公司专注于建材家居安装、维修、维护以及一切围绕着家的延伸服务。用互联网方式改变传统家庭维修中介、游击队模式。让业主得到最优质的服务。
                    e修鸽为业主和优质合作商提供最专业的灯具、卫浴、五金、壁纸、地板、家具产品的安装、维修、维护、清洗、保养等家居最后一公里售后服务。</p>
            </div>
        </div>
        <!--评论区域-->
        <div class="intro-wrapper common">
            <p id="userComment">
                用户评论&nbsp;&nbsp;<span>(478条评论)</span>
            </p>
            <div class="border">
                <div class="userInfo">
                    <div class="avatar">
                        <img src="./img/list/userIcon.jpg">
                    </div>
                    <ul class="demons">
                        <li>🎀张小铁蛋儿🌺</li>
                        <li>
                            <span class="stars">
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                            </span>
                            <span class="date">2017-07-09</span>
                        </li>
                        <li><span>准时到达，服务专业，态度热情</span></li>
                        <li class="last-li"><i></i>北京&nbsp;&nbsp;石景山区</li>

                    </ul>
                </div>
                <div class="reply">
                    <span class="high-light">商家回复:</span>
                    <span class="contents">感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任何问题都可以联系e修鸽客户热线：400-882-7781。</span>
                </div>
            </div>
            <div class="border">
                <div class="userInfo">
                    <div class="avatar">
                        <img src="./img/list/userIcon.jpg">
                    </div>
                    <ul class="demons">
                        <li>🎀张小铁蛋儿🌺</li>
                        <li>
                            <span class="stars">
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                            </span>
                            <span class="date">2017-07-09</span>
                        </li>
                        <li><span>准时到达，服务专业，态度热情</span></li>
                        <li class="last-li"><i></i>北京&nbsp;&nbsp;石景山区</li>

                    </ul>
                </div>
                <div class="reply">
                    <span class="high-light">商家回复:</span>
                    <span class="contents">感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任何问题都可以联系e修鸽客户热线：400-882-7781。</span>
                </div>
            </div>
            <div class="border">
                <div class="userInfo">
                    <div class="avatar">
                        <img src="./img/list/userIcon.jpg">
                    </div>
                    <ul class="demons">
                        <li>🎀张小铁蛋儿🌺</li>
                        <li>
                            <span class="stars">
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                                <img src="./img/list/red_star.png"/>
                            </span>
                            <span class="date">2017-07-09</span>
                        </li>
                        <li><span>准时到达，服务专业，态度热情</span></li>
                        <li class="last-li"><i></i>北京&nbsp;&nbsp;石景山区</li>

                    </ul>
                </div>
                <div class="reply">
                    <span class="high-light">商家回复:</span>
                    <span class="contents">感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任感谢您的肯定啦~我们会更加努力的。如果您有在维修方面有任何问题都可以联系e修鸽客户热线：400-882-7781。</span>
                </div>
            </div>

        </div>
    </div>
</div>